@tailwind base;
@tailwind components;
@tailwind utilities;


body {
	font-family: "proxima-nova", arial;
	background-color: #F2F2F2;
}


/* wiggle */
@keyframes wiggle {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(5deg);
	}

	50% {
		transform: rotate(0deg);
	}

	75% {
		transform: rotate(-5deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

.wiggle-on-hover:hover {
	animation: wiggle 0.5s ease-in-out;
}

.red-dot::after {
	content: '';
	position: absolute;
	bottom: 1.4rem;
	right: -1rem;
	width: 0.625rem;
	height: 0.625rem;
	border-radius: 50%;
	background-color: var(--dot-color, #EE6C8A);
}